<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Fragments</title>

	<!-- CSS only -->
	<link 
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		data-integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		data-crossorigin="anonymous" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
		rel="stylesheet" />
</head>

<body>


	<header th:fragment="header(texto)" class="bg-dark text-light text-center p-3">
		<h1>CRUD</h1>
		<hr />
		<h3>[[${texto}]]</h3>
	</header>



	<!-- Bootstrap JS -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>